<li class="product-tile bordered">
  <div class="img-cont">
    <img src="" alt="">
  </div>
  <div class="details">
    <div><a href="">{{this.name}}</a></div>
    <div class="center">
      <p>{{this.measurement}}</p>
      <p>{{this.price}}</p>
    </div>
  </div>
</li>
